.header {
  padding: 32px 5% 8px 5%;
  flex: 0 0 auto;
}

.blocks-logo {
  display: block;
  width: 31px;
  height: 40px;
  mask: url('../svgs/blocks-logomark.svg') no-repeat;
  background-color: $primary-00;
  cursor: pointer;
  margin-bottom: 24px;
}

.blocks-hero {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../svgs/block-pattern.svg');
  
  h1 {
    margin: 0;
  }
}

.blocks-equation {
  flex: 1 1 33%;
  margin-right: 3%;
  
  &:last-child {
    margin-right: 0;
  }
}

.principle-list {
  list-style-type: square;
  
  li {
    padding: 6px 0;
  }
  
  ul {
    padding: 12px 0;
    li:before {
      content: "-";
    }
  }
}

.principle-insight-box {
  background-color: $light-00;
  padding: 24px;
  margin: 24px 0;
}
