.left-nav-panel {
  width: 265px;
  height: 100%;
  overflow-y: auto;
  background-color: $light-00;
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.blocks-logo {
  margin: 24px;
}

.section-menu {
  overflow: hidden;
}

.nav-section-button {
  display: block;
  position: relative;
  user-select: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background: transparent;
  border: none;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
}
