.snippet {
  border-radius: 7px;
  margin: 16px 0;
  border: 2px solid $light-01;
  padding: 12px 16px;
  background-color: $secondary-00;
}

.snippet-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snippet-react, .snippet-html {
  white-space: pre-wrap;
}